In [6]:
import pandas as pd

In [7]:
file = pd.read_csv("avidDev.csv")


file

    First name Last name      number
0       Simeon   AvidDev  7063123702
1       Joseph   AvidDev  8080330018
2      Bernard   AvidDev  7060859311
3       Justin   AvidDev  8113589811
4          Ali   AvidDev  8063611994
5       Vivian   AvidDev  8165019555
6      Balogun   AvidDev  8185210382
7       Fakomi   AvidDev  8169568707
8   Faozziyyah   AvidDev  8156128168
9     Amarachi   AvidDev  8086108361
10     Adepoju   AvidDev  8093919989
11      thrive   AvidDev  7033548895
12    Shobande   AvidDev  8141648402
13       Ajise   AvidDev  8135567411
14    Ayoyinka   AvidDev  8062400847
15     Miracle   AvidDev  8127961889
16     Gabriel   AvidDev  9060720769
17   Mavewrick   AvidDev  7016487796
18      Ukpono   AvidDev  8173530104
19     Chimdia   AvidDev  8093554575
20      OLOGUN   AvidDev  8163735304
21    Emmanuel   AvidDev  8068234829
22     Chimdia   AvidDev  8093554575
23        Seun   AvidDev  8137300191
24    Adelakun   AvidDev  7031141842
25    Akinleye   AvidDev  8169803130
26     Abideen   AvidDev  8179651769
27    Ewiwilem   AvidDev  7032981229
28       David   AvidDev  8067492953
29      Lukman   AvidDev  7068045265
30        Umar   AvidDev  8134660261
31      Joshua   AvidDev  8147237653
32    Olushola   AvidDev  8060283204
33        Mary   AvidDev  9058477448
34      Jibril   AvidDev  8093597516
35       Okoli   AvidDev  9093906357
36       Okoli   AvidDev  9093906357
37      Regina   AvidDev  7010599438

In [9]:
contacts = file.copy()

In [10]:
contacts.head(6)

  First name Last name      number
0     Simeon   AvidDev  7063123702
1     Joseph   AvidDev  8080330018
2    Bernard   AvidDev  7060859311
3     Justin   AvidDev  8113589811
4        Ali   AvidDev  8063611994
5     Vivian   AvidDev  8165019555

In [12]:
# -*- coding: utf-8 -*-
#python 3.x

import csv
import sys

#convert a "comma separated values" file to vcf contact cards

#USAGE:
#CSV_to_Vcards.py CSV_filename


def convert(somefile):
    #assuming file format : lastname,firstname,phonenumber,mail
    with open( somefile, 'r' ) as source:
        reader = csv.reader( source )
        allvcf = open('ALL.vcf', 'w')
        i = 0
        for row in reader:
            #write in individual vcf
            vcf = open(row[1] + ' ' + row[0] + ".vcf", 'w')
            vcf.write( 'BEGIN:VCARD' + "\n")
            vcf.write( 'VERSION:3.0' + "\n")
            vcf.write( 'N:' + row[0] + ';' + row[1] + "\n")
            vcf.write( 'FN:' + row[1] + ' ' + row[0] + "\n")
            vcf.write( 'ORG:' + 'ATI' + "\n")
            vcf.write( 'TEL;CELL:' + row[2] + "\n")
            vcf.write( 'EMAIL:' + row[3] + "\n")
            vcf.write( 'END:VCARD' + "\n")
            vcf.write( "\n")
            vcf.close()

            #write in the "ALL.vcf" file
            allvcf.write( 'BEGIN:VCARD' + "\n")
            allvcf.write( 'VERSION:3.0' + "\n")
            allvcf.write( 'N:' + row[0] + ';' + row[1] + "\n")
            allvcf.write( 'FN:' + row[1] + ' ' + row[0] + "\n")
            allvcf.write( 'ORG:' + 'ATI' + "\n")
            allvcf.write( 'TEL;CELL:' + row[2] + "\n")
            allvcf.write( 'EMAIL:' + row[3] + "\n")
            allvcf.write( 'END:VCARD' + "\n")
            allvcf.write( "\n")

            i += 1#counts

        allvcf.close()
        print (str(i) + " vcf cards generated")


def main(args):
    if len(args) != 2:
        print ( "Usage:")
        print ( args[0] + " avidDev.csv")
        return

    convert(args[1])

if __name__ == '__main__':
    main(sys.argv)

Usage:
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py avidDev.csv

In [17]:
import numpy as np

In [20]:
eye = np.eye(5)

eye

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [21]:
import scipy

In [24]:
eye2=np.zeros(5)
eye2

array([0., 0., 0., 0., 0.])

In [27]:
data = {'Name': ["John", "Anna", "Peter", "Linda"],
 'Location' : ["New York", "Paris", "Berlin", "London"],
 'Age' : [24, 13, 53, 33]
 }

data_pandas = pd.DataFrame(data)

data_pandas

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [28]:

display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33