In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
train = pd.read_csv("train.csv")

In [5]:
train.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0,0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1,0
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0

In [6]:
train.shape

(28831, 22)

In [7]:
test = pd.read_csv("test.csv")

In [8]:
test.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,customer_id_32884,59,technician,married,high.school,no,no,yes,cellular,may,...,6.183333,1,999,1,failure,-1.77,46.4465,-32.34,2.301,5099.1
1,customer_id_3169,57,unknown,married,unknown,unknown,yes,no,telephone,may,...,4.750000,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0
2,customer_id_32206,35,blue-collar,married,basic.9y,no,no,no,cellular,may,...,0.866667,1,999,1,failure,-1.77,46.4465,-32.34,2.315,5099.1
3,customer_id_9403,38,admin.,married,high.school,no,no,no,telephone,jun,...,5.916667,4,999,0,nonexistent,1.43,47.2325,-29.26,5.969,5228.1
4,customer_id_14020,29,housemaid,married,high.school,no,yes,no,cellular,jul,...,3.150000,2,999,0,nonexistent,1.43,46.9590,-29.89,5.965,5228.1

In [9]:
test.shape

(12357, 21)

In [10]:
sample_submission = pd.read_csv("sample_submission.csv")

In [11]:
sample_submission.head()

         customer_id  subscribed
0  customer_id_32884           1
1   customer_id_3169           1
2  customer_id_32206           1
3   customer_id_9403           1
4  customer_id_14020           1

In [12]:
sample_submission.shape

(12357, 2)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 22 columns):
customer_id       28831 non-null object
age               28831 non-null int64
job               28831 non-null object
marital           28831 non-null object
education         28831 non-null object
default           28831 non-null object
housing           28831 non-null object
loan              28831 non-null object
contact           28831 non-null object
month             28831 non-null object
day_of_week       28831 non-null object
duration          28831 non-null float64
campaign          28831 non-null int64
pdays             28831 non-null int64
previous          28831 non-null int64
poutcome          28831 non-null object
emp_var_rate      28831 non-null float64
cons_price_idx    28831 non-null float64
cons_conf_idx     28831 non-null float64
euribor3m         28831 non-null float64
nr_employed       28831 non-null float64
subscribed        28831 non-null int64
dtypes: float64(6), int64(5), object(11)
memory usage: 4.8+ MB

In [14]:
train.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
count,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000
mean,42.011203,4.297919,2.575769,963.215844,0.172592,0.113202,46.788632,-28.360564,4.623599,5167.011880,0.112761
std,10.450128,4.336882,2.752303,185.077567,0.494338,1.570978,0.289847,3.244405,1.735202,72.542598,0.316305
min,19.000000,0.000000,1.000000,0.000000,0.000000,-3.370000,46.100500,-35.560000,1.636000,4963.600000,0.000000
25%,34.000000,1.700000,1.000000,999.000000,0.000000,-1.770000,46.537500,-29.890000,2.346000,5099.100000,0.000000
50%,40.000000,3.000000,2.000000,999.000000,0.000000,1.130000,46.874500,-29.260000,5.859000,5191.000000,0.000000
75%,49.000000,5.300000,3.000000,999.000000,0.000000,1.430000,46.997000,-25.480000,5.963000,5228.100000,0.000000
max,100.000000,81.966667,43.000000,999.000000,7.000000,1.430000,47.383500,-18.830000,6.047000,5228.100000,1.000000

# Make a copy of the dataset

In [15]:
train_copy = train.copy()

In [16]:
train_copy.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0,0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1,0
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0

In [17]:
train = train_copy

# Extracting the numerical Value

In [18]:
# categorical_feat = [feat for feat in train.columns if train[feat].dtype == 'O']
# categorical_feat

# Dropping features not needed for the model

In [17]:
# train = train.drop(columns = 'customer_id')

In [18]:
# train, test = train.drop(columns = 'job'), test.drop(columns = 'job')

In [19]:
# train , test = train.drop(columns = 'education'), test.drop(columns = 'education')

In [20]:
# train, test = train.drop(columns = 'default'), test.drop(columns = 'default')

In [21]:
# train, test = train.drop(columns = 'housing'), test.drop(columns = 'housing')

In [22]:
# train, test = train.drop(columns = 'loan'), test.drop(columns = 'loan')

In [23]:
# train , test = train.drop(columns = 'contact'), test.drop(columns = 'contact')

In [ ]:
# train, test = train.drop(columns = 'month'), test.drop(columns = 'month')

In [19]:

# train = train.drop(columns = 'day_of_week')

In [20]:
train = train.drop(columns=['customer_id', 'poutcome', 'job', 'education', 'default', 'housing', 'loan', 'contact', 'month'])

In [24]:
print(train.columns)
print( train.shape)

Index(['age', 'marital', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx',
       'euribor3m', 'nr_employed', 'subscribed'],
      dtype='object')
(28831, 13)

In [22]:
test = test.drop(columns=['customer_id', 'poutcome', 'job', 'education', 'default', 'housing', 'loan', 'contact', 'month'])

In [25]:
print(test.columns)
print(test.shape)

Index(['age', 'marital', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx',
       'euribor3m', 'nr_employed'],
      dtype='object')
(12357, 12)

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 13 columns):
age               28831 non-null int64
marital           28831 non-null object
day_of_week       28831 non-null object
duration          28831 non-null float64
campaign          28831 non-null int64
pdays             28831 non-null int64
previous          28831 non-null int64
emp_var_rate      28831 non-null float64
cons_price_idx    28831 non-null float64
cons_conf_idx     28831 non-null float64
euribor3m         28831 non-null float64
nr_employed       28831 non-null float64
subscribed        28831 non-null int64
dtypes: float64(6), int64(5), object(2)
memory usage: 2.9+ MB

# Encoding marital status

In [28]:
# from sklearn.preprocessing import LabelEncoder

In [29]:
# encoder = LabelEncoder()

In [30]:
# train['marital'] = encoder.fit_transform(train['marital'])

In [27]:
train = pd.get_dummies(train)

In [28]:
train.head()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed,marital_divorced,marital_married,marital_single,marital_unknown,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
0,31,1.283333,3,999,1,-2.97,46.3565,-23.10,1.711,5023.5,0,0,1,0,0,0,1,0,0,0
1,31,0.200000,4,999,0,-1.77,46.4465,-32.34,2.252,5099.1,0,0,0,1,0,1,0,0,0,0
2,47,4.616667,2,999,0,1.13,46.9970,-25.48,5.862,5191.0,0,0,1,0,0,0,0,1,0,0
3,36,1.166667,1,999,1,-1.77,46.4465,-32.34,2.329,5099.1,0,0,1,0,0,0,0,1,0,0
4,34,19.683333,9,999,0,-1.77,46.4465,-32.34,2.252,5099.1,0,0,0,1,0,1,0,0,0,0

In [29]:
X = train.drop(columns = 'subscribed')

In [30]:
y =  train['subscribed']

# Splitting the dataset into Train and Test

In [32]:
#Importing split module
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [34]:
# X_train

# Building the Model KNN

In [35]:
#import knn module
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [36]:
classifier = KNeighborsClassifier()

In [37]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [38]:
classifier_pred = classifier.predict(X_test)

In [39]:
classifier_pred.shape

(7208,)

In [41]:
test = pd.get_dummies(test)

In [42]:
classifier_pred2 = classifier.predict(test)

In [43]:
classifier_pred2.shape

(12357,)

In [48]:
classifier_pred2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [45]:
sample_submission.head()

         customer_id  subscribed
0  customer_id_32884           1
1   customer_id_3169           1
2  customer_id_32206           1
3   customer_id_9403           1
4  customer_id_14020           1

In [49]:
sub = sample_submission.copy()

In [50]:
sub.subscribed = classifier_pred2

In [53]:
sub.to_csv('bank_second.csv', index= False)

In [54]:
from sklearn.metrics import f1_score

In [55]:
cl_sc = f1_score(y_test,  classifier_pred)

In [56]:
cl_sc

0.5297658862876253

In [58]:
classifier_pred2.shape

(12357,)

In [59]:
y_test.shape

(7208,)

In [57]:
from

ValueError: Found input variables with inconsistent numbers of samples: [7208, 12357]

# Build Support Vector Machine Model

In [63]:
from sklearn.svm import SVC

In [64]:
svm_classifier = SVC(kernel = 'linear')

In [65]:
svm_classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [67]:
svm_pred = svm_classifier.predict(test)

In [68]:
svm_pred.shape

(12357,)

In [69]:
sub_svm = sample_submission.copy()

In [70]:
sub_svm.subscribed = svm_pred

In [72]:
sub_svm.to_csv('bank_third.csv', index = False)

In [ ]:
# from sklearn.metrics import f1_score

In [ ]:
# f1score = f1_score(y_test, knn_pred)

In [ ]:
print(f1score)